<form method="POST" action="/songs/<%=@song.slug%>">
  <label>Song Name </label><input type="text" name="song_attributes[song_name]" id="Name" value="<%=@song.name%>"><br />
  <label>Artist Name </label><input type="text"
   name="song_attributes[artist_name]" id="Artist Name" value="<%=@song.artist.name%>"><br />



  <% Genre.all.each do |genre|%>
      <input type="checkbox" name="song_attributes[genre_id]"  id="<%=genre.name%>" value="<%=genre.id%>"<%='checked' if @song.genres.include?(genre) %> ><%=genre.name%></input>
  <% end %>
<br />
<input type="submit" value="Save" />


</form>
